<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!---->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>You Trip旅行首页</title>
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="container-fluid">
  <!--<div class="navdiv"></div>-->
  <!--============================navbar:导航条 ======================================-->
  <div class="row footer">
    <div class="row">
      <div class="footerLogo col-lg-1 col-md-1 col-sm-1">
        <img src="/images/logo.png" alt="">
      </div>
      <div class="footerul col-lg-7 col-md-7 col-sm-7">
        <ul id="horizontal">
          <li>
            <a href="/DJ_theme">主题推荐</a>
            <ul>
              <li>
                <a href="/DJ_theme">一个人的旅行</a>
              </li>
              <li>
                <a href="/DJ_theme">文化体验之旅</a>
              </li>
              <li>
                <a href="/DJ_theme">一生必去的地方</a>
              </li>
              <li>
                <a href="/DJ_theme">遗落的美景</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/fz-problem">旅行服务</a>
            <ul>
              <li>
                <a href="">定制旅行</a>
              </li>
              <li>
                <a href="/journey">甄选行程</a>
              </li>
              <li>
                <a href="/LCF_visa">签证服务</a>
              </li>
              <li>
                <a href="/customCase">客户案例</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/fz-youtrip/1">You Trip社区</a>
            <ul>
              <li>
                <a href="/fz-youtrip/1">旅行者分享</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/fz-problem">帮助中心</a>
            <ul>
              <li>
                <a href="/fz-problem">用户协议</a>
              </li>
              <li>
                <a href="/fz-problem">旅行理念</a>
              </li>
              <li>
                <a href="/fz-problem">服务保障</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/fz-problem">关于我们</a>
            <ul>
              <li>
                <a href="/fz-problem">团队介绍</a>
              </li>
              <li>
                <a href="/fz-problem">联系我们</a>
              </li>
            </ul>
          </li>
          <li>002-556-5209</li>
        </ul>
        <br>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 searchNum">
        <img src="images/logoCode.png" alt="">
        <p>YouTrip服务号</p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 searchNum">
        <img src="images/logoCode.png" alt="">
        <p>YouTrip订阅号</p>
      </div>
    </div>
    <div class="row footerText">
      <p>&nbsp;&nbsp;&nbsp;&nbsp;客服热线：400-995-1115&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新浪微博：@You Trip定制旅行&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商家合作：info@YouTrip.travel 022-556-5209</p>
    </div>
  </div>

</div>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>