<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>关于我们</title>
  <link rel="stylesheet" href="../css/bootstrap.css"/>
  <link rel="stylesheet" href="../css/swiper.min.css">
  <link rel="stylesheet" href="../font/font-awesome.css">
  <link rel="stylesheet" href="../font/font_icon/iconfont.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="../css/homePublic.css">
  <link rel="stylesheet" href="../css/fz-aboutMe.css">
</head>
<body>
<section class="bgImage">
  <div class="container-fluid myImage">
    <!--=============================右侧固定导航===============================-->
      <%-include("left_nav.ejs")%>
    <div class="row myLinear">
        <%-include("head.ejs")%>
    </div>
    <div class="row mytop">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="text-center myheight">You Trip历史</h2>
        <p>
          youtrip于2012年初由二位资深的旅行家创办，是成都传媒集团旗下成都新闻国际旅行社有限公司的高端旅游品牌，
          总部位于成都高新区天府大道中段美年广
          场。在youtrip成立之前，创始团队亲自到全球四十多个国家实地考察，带着一手的资讯和执着的信念创立了一家真正意义上的私人定制旅行机构。五年的专注，
          让我们熟悉您的旅行品味，更懂得如何来安排一次您理想中的完美旅行。一颗虔诚的心，无微不至的服务，顶尖的专业团队，只为您和家人定制一段短暂却难忘
          的时光。
        </p>
      </div>
    </div>
  </div>
</section>
<div class="fz-bg">
  <section class="fz-mymin">
    <div class="container-fluid mybody">
      <div class="row mymiddle">
        <div class="col-lg-6 col-lg-offset-3 fz-mymiddle-with">
          <p class="fz-p1">万千服务，只为一次难忘体验</p>
          <p class="fz-p2">The customer is superme</p>
        </div>
      </div>
      <div class="row myMargin1">
        <div class="col-lg-12 fz-margintop">
          <div class="col-lg-3 mypadding">
            <div class="col-lg-11 col-lg-offset-.5 mytext">
              <h2>定制历史</h2>
              <p class="fz-title">Customized history</p>
              <p class="fz-text">
                五年定制海外旅游<br>
                十年旅游考察<br>
                公司团队来自全球<br>
                全心全意做好我们的服务<br>
              </p>
              <img src="../images/fz-imge/fz-15.jpg">
            </div>
          </div>
          <div class="col-lg-3 mypadding">
            <div class="col-lg-11 col-lg-offset-.5 mytext">
              <h2>安全保障</h2>
              <p class="fz-title">Safty First</p>
              <p class="fz-text">
                所有目的地经过我们实地<br>
                考察，严格筛选一手正规<br>
                供应商，专属客服24小时<br>
                待命，保障出行安全顺利<br>
              </p>
              <img src="../images/fz-imge/fz-16.png">
            </div>
          </div>
          <div class="col-lg-3 mypadding">
            <div class="col-lg-11 col-lg-offset-.5 mytext">
              <h2>极致服务</h2>
              <p class="fz-title">Extreme service</p>
              <p class="fz-text">
                出发前开出行会，定制出行<br>
                手册，准备热水壶，插头，<br>
                拖鞋等出行常用品。面面俱<br>
                到，完成您未想到的事情<br>
              </p>
              <img src="../images/fz-imge/fz-17.jpg">
            </div>
          </div>
          <div class="col-lg-3 mypadding">
            <div class="col-lg-11 col-lg-offset-.5 mytext">
              <h2>一价全包</h2>
              <p class="fz-title">All Inclusive</p>
              <p class="fz-text">
                签证、行程、机票、酒店、<br>
                用车、导游、特色体验<br>
                为您安排好一切，您只<br>
                负责出发<br>
              </p>
              <img src="../images/fz-imge/fz-18.jpg">
            </div>
          </div>
        </div>
      </div>
      <div class="row myMargin1">
        <div class="col-lg-12 fz-margintop">
          <div class="col-lg-3 mypadding">
            <div class="col-lg-11 col-lg-offset-.5 mytext">
              <h2>最高规格</h2>
              <p class="fz-title">Highest Standards</p>
              <p class="fz-text">
                商务舱、顶级酒店、<br>
                米其林餐厅，高品质的<br>
                旅行是在每一个环节<br>
                都不将就<br>
              </p>
              <img src="../images/fz-imge/fz-19.jpg">
            </div>
          </div>
          <div class="col-lg-3 mypadding">
            <div class="col-lg-11 col-lg-offset-.5 mytext">
              <h2>深度体验</h2>
              <p class="fz-title">Real Experience</p>
              <p class="fz-text">
                深入每一个目的地，不止<br>
                于走马观花，私藏更多独<br>
                特，小众，一生难忘的<br>
                主题体验<br>
              </p>
              <img src="../images/fz-imge/fz-20.jpg">
            </div>
          </div>
          <div class="col-lg-3 mypadding">
            <div class="col-lg-11 col-lg-offset-.5 mytext">
              <h2>适合家庭</h2>
              <p class="fz-title">Family Oriented</p>
              <p class="fz-text">
                专注家庭出行，<br>
                为夫妻、亲子、<br>
                老人、朋友定制美好的<br>
                老人、朋友定制美好的<br>
              </p>
              <img src="../images/fz-imge/fz-21.jpg">
            </div>
          </div>
          <div class="col-lg-3 mypadding">
            <div class="col-lg-11 col-lg-offset-.5 mytext">
              <h2>价格透明</h2>
              <p class="fz-title">Detailed Quotation</p>
              <p class="fz-text">
                所有项目价格<br>
                公开透明，可任意甄选您<br>
                最喜爱，性价比最好的<br>
                旅行体验<br>
              </p>
              <img src="../images/fz-imge/fz-22.png">
            </div>
          </div>
        </div>
      </div>
      <div class="fz-button">
        <a href="/fz-Team"> 查看更多详情</a>
      </div>
    </div>
  </section>
    <%-include("foot.ejs")%>
</div>
<script>
    window.onscroll = function() {/*窗口滚动*/
        var navbar = document.getElementsByClassName("navbar-default")[0];
        var onlineIcon = document.getElementsByClassName("onlineIcon")[0];
        var lcfBackUp = document.getElementsByClassName("lcfBackUp")[0];
        var scrlength =parseInt(document.documentElement.scrollTop||document.body.scrollTop);/*获取窗口当前的滚动位置*/
        if (scrlength>450){
            var colorRgba ="rgba(97,88,57, 0.4)"
            navbar.style.backgroundColor=colorRgba;
        }else if (scrlength<450){
            navbar.style.backgroundColor="inherit";
        }
    };

    /*========================回到顶部============================*/
    function lcfBackTop() {
        var backInterval = setInterval(function () {
            window.scrollTo(0,window.scrollY-20);
            if(window.scrollY<=0){
                clearInterval(backInterval)
            }
        },5)
    }
    sessionStorage.myhref=location.href;
</script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/ZoomPic.js"></script>
<script type="text/javascript">
    $(function(){
        new ZoomPic("jswbox");
    })

</script>