<html>
<head lang="en">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>帮助中心</title>
  <link rel="stylesheet" href="../css/bootstrap.css"/>
  <link rel="stylesheet" href="../css/swiper.min.css">
  <link rel="stylesheet" href="../font/font-awesome.css">
  <link rel="stylesheet" href="../font/font_icon/iconfont.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="../css/homePublic.css">
  <link rel="stylesheet" href="../css/fz-problem.css">
</head>

<style>
  #NAV{
    background-color: #63532d;
    position: inherit;
  }
  .container-fluid {
     width: 100%;
     margin: 0;

  }
  #main{
    width: 87%;
    margin: 0 6.5%;
  }
</style>


<body>

<div class="fz-bg">
    <%-include("head.ejs")%>
    <section>
    <div class=" fz-top">
      <p><span>首页</span><span>></span><span>常见问题</span></p>
    </div>
    <div class="container-fluid" id="main">
      <div class="row fz-title">
        <h2>常见问题</h2>
      </div>
      <div class="row fz-title1">
        <h2>you trip是谁?</h2>
        <p>you trip隶属于北京特美信息科技有
          限公司，由一群旅行爱好者创办，
          是中国第一家将旅行者与世界各
          地的旅行社直接联系起来的互
          联网平台。特美旅行致力于使
          旅行者们不再需要通过中介
          就能与世界各地旅行社直接
          取得联系，从而实现真正的定制旅行。我们成立刚刚一年，目前已经拥有一支20人的工作团队。在这一年间，我们已与超过40个国家的当地旅行社建立合作伙伴关系，为300旅行者提供了称心如意的个性化旅行！</p>
        <p class="fz-link">关于you trip 旅行理念</p>
      </div>
      <div class="row fz-title1">
        <h2>什么是定制旅行？</h2>
        <p>
          定制旅行是一种全新的旅行方式，由您和世界各地旅行社的定制顾问们共同打造您的专属行程。它不同于团队游，没有团队游的各种约束和限制；也不同于自助游，不需要您为繁琐而复杂的设计行程和预订流程而操心。因为我们合作的当地旅行社都是是精挑细选出的专业团队，会为您提供最专业最可靠的旅行方案。你所需要做的，只是打个电话，或者，发个微信</p>
        <p class="fz-link">关于定制旅行</p>
      </div>
      <div class="row fz-title1">
        <h2>我可以定制什么？</h2>
        <p>一场旅行的各方各面皆囊括在内：旅行路线，时间安排，是否需要导游，是否需要司机，交通方式（汽车，火车，大巴，轮船……），住宿条件（帐篷，民宿，青年旅社，精品酒店，豪华宾馆……），当地活动，休息和自由活动时间……把您的需求和预算告诉当地旅行社的定制顾问，他们会为您量身定制最适合您的旅行方案。<p class="fz-link">关于you trip 旅行理念</p>
      </div>
      <div class="row fz-title1">
        <h2>定制顾问都会说中文吗？</h2>
        <p>大部分的定制顾问都会说中文，或者您也可以用英文和他们联系。此外，鉴于各国旅行者的旅行习惯各有不同，我们还专门根据接待中国客人的经验和水平来甄选旅行机构。</p>
        <p class="fz-link"></p>
      </div>
      <div class="row fz-title1">
        <h2>我何时能得到最终的方案和报价？</h2>
        <p>这取决于您旅行的时长和复杂程度。对于不太复杂的行程，通过几次沟通就可以得到最终的方案和报价；如果您是一位资深的玩家，需要一个高度定制的个性化旅行方案，有可能会需要几周的时间和旅行社进行深入沟通。但无论如何，您都需要尽早和旅行机构进行沟通，避免在旺季期间出现无法预订和价格损失的情况。</p>
        <p class="fz-link"></p>
      </div>
      <div class="row fz-title1">
        <h2>我需要购买旅游保险吗？</h2>
        <p>是的，我们建议您为自己购买一份旅行保险。比如航班延误取消险、意外遣返险都非常有必要。如果您选用的是在线支付的方式，您将会享受特美旅行免费赠送的意外遣返保险。此外，您还可以在我们合作的保险公司购买一份完整的境外旅游保险。</p>
        <p class="fz-link"></p>
      </div>
      <div class="row fz-title1">
        <h2>谁对我的旅行负责？</h2>
        <p>地方旅行机构是您旅行的负责人，他们将对您所购买的所有服务负责。而特美旅行做为您可以信赖的第三方，您和旅行机构之间出现的任何问题，我们会在第一时间出面为您沟通解决。此外，如果您选择的旅行机构出现了意外（破产倒闭、人员失踪等），特美旅行会立刻为您联系另一家的当地旅行机构，并减免全部的费用作为赔偿。</p>
        <p class="fz-link">关于用户协议</p>
      </div>
      <div class="row fz-title1">
        <h2>如何安全的支付费用？</h2>
        <p>当您与旅行机构达成一致后，他们会给您发送一个安全支付链接（所有合作的旅行机构都支持在线支付），您可以通过这个链接，使用借记卡或信用卡支付。如果出现意外，特美旅行负责与当地旅行机构联系，维护您的权益。</p>
        <p class="fz-link"></p>
      </div>
      <div class="row fz-title1">
        <h2>地方代理人能够为我们预定航班吗？</h2>
        <p>目前，在大部分情况下，我们的旅行机构不提供国际航班的预订。但是他们可以帮您预订目的地的国内航班。</p>
        <p class="fz-link"></p>
      </div>
      <div class="row fz-title1">
        <h2>如何反馈旅行中的意见和建议？</h2>
        <p>当您旅行的结束后，特美旅行会向您的邮箱中发送一份意见调查表。请您评分，写下您的想法和建议，此外也欢迎您把旅行途中的精彩照片分享给我们。特美旅行的工作团队会认真阅读您的每一条意见，并在网站上发布出来。如果您没有收到我们的反馈邮件，请与我们联系，我们会给您重新发送新的链接。</p>
        <p class="fz-link">you trip 社区</p>
      </div>
      <div class="row fz-title1">
        <h2>you trip旅行真的比其他旅行社优惠吗？</h2>
        <p>
          you trip旅行向您保证，您从当地旅行社得到的价格是真正的一手直采价格，特美旅行没有任何加价。对于同样品质的旅行产品，您得到价格会比传统的旅行社的报价大约低20%。您可能会从别的旅行社咨询到更低廉的价格，但旅行的自由度、舒适性、安全性和旅行社的专业性都是不同的，我们衷心建议您在选择时慎重全面考虑。
        </p>
        <p class="fz-link"></p>
      </div>
      <div class="row fz-title1">
        <h2>you trip旅行如何赢利？</h2>
        <p>
          you trip旅行通过当地旅行社，而不是通过旅行者获得收益。当地旅行社根据旅行者的规模向特美旅行支付平台费用、推广费用和培训费。这些费用在旅行机构的市场预算中，而丝毫不会影响给旅行者的报价。当地旅行社必须为您提供最直接的无任何附加费用的价格。
        </p>
        <p class="fz-link"></p>
      </div>
    </div>
  </section>
    <%-include("left_nav.ejs")%>
    <%-include("foot.ejs")%>
</div>
<script src="js/jquery-1.11.3.js"></script>
<script src="js/bootstrap.js"></script>
<script>
    sessionStorage.myhref=location.href;
</script>
</body>
</html>