<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>我们的招聘</title>
  <link rel="stylesheet" href="../css/bootstrap.css"/>
  <link rel="stylesheet" href="../css/swiper.min.css">
  <link rel="stylesheet" href="../font/font-awesome.css">
  <link rel="stylesheet" href="../font/font_icon/iconfont.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="../css/homePublic.css">
  <link rel="stylesheet" href="../css/fz-recruitment.css">
</head>
<style>
  #NAV{
    background-color: #63532d;
    position: inherit;
  }
</style>
<body>
<section class="fz-top">
    <%-include("head.ejs")%>
</section>
<%-include("left_nav.ejs")%>
<div class="container-fluid fz-bg">
  <div class="row texttwo">
    <div><span class="two">&#xe64e;</span>首页 > 招聘职位</div>
  </div>
  <div class="row ">
    <div class="fz-myTimg">
      <div class="fz-img">
        <img src="../images/fz-imge/fz-72.jpg">
      </div>
      <div class="fz-mytext">
        <p class="p1">You Trip欢迎你的加入！</p>
        <p class="p2">一个富有创意和想法的项目，需要一个优秀的团队来完成</p>
        <div class="fz-article">
          <p>在特美旅行，有这样一群与众不同，充满活力，踏踏实实做事的人，</p>
          <p>他们每天都在研究如何走在“别人没有走过的路上”。</p>
          <p>他们来自五湖四海，有资深旅行从业人士，有互联网技术精英，有的在欧洲留学，旅行过许多国家，</p>
          <p>也有从重点大学毕业的美编，他们都热爱旅行，并最终把特美旅行作为自己的职业发展平台。</p>
          <p>在特美旅行工作是充满意义的，也是甜蜜的。对于每一个辛勤工作的特美小伙伴来说，最快乐的事情是得到特美旅行的用户和合作伙伴的认可。</p>
          <p>但随着特美旅行的不断壮大，我们急需新鲜的血液加入我们。</p>
        </div>
        <div class="fz-href">
          <p>招聘邮箱 <span></span> contact@tourmade.com</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span>旅行体验师</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span>旅行产品经理</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span> 客服专员</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span>旅行体验师</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span>SEO/SEM优化</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span> 新媒体营销</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span>活动执行</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button"> 申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span> 网站编辑</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span>文案策划</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span> 活动策划</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button"> 申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span> 视觉设计师</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button"> 申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span>UI设计师</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span>JAVA工程师</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span>产品经理</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span>前端工程师</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span> 软件项目经理</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span>Drupal工程师</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
      <div class="fz-mytitle">
        <div class="fz-com">
          <div class="fz-button">申请职位</div>
          <p class="fz-titile"><span class="fz-node"></span>系统架构师</p>
          <p class="one">1. 热爱旅游，对国内外大多数景点有较多了解，有独特审美</p>
          <p class="one">2. 情感细腻，拥有良好的文字功底和表达能力。能够敏锐洞察生活点滴、景观细节</p>
          <p class="one">3、对信息的捕捉和编辑有一定专长；对出入境有所了解</p>
          <p class="one">4. 有一定的网络知识，如果可以拥有广泛的社交群体，频繁活跃于各大社交网络平台，更好。有能力将人各行业的旅游达人组织到一起</p>
          <p class="one">5、有一定的英文阅读能力</p>
          <p class="one">6、形象气质好，个人素质高；具有积极向上的学历领悟能力、实践适应能力</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include("foot.ejs")%>
<script src="js/jquery-1.11.3.js"></script>
<script src="js/bootstrap.js"></script>
<script>
    sessionStorage.myhref=location.href;
</script>
</body>
</html>