<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>我们的团队</title>
  <link rel="stylesheet" href="../css/bootstrap.css"/>
  <link rel="stylesheet" href="../css/swiper.min.css">
  <link rel="stylesheet" href="../font/font-awesome.css">
  <link rel="stylesheet" href="../font/font_icon/iconfont.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="../css/homePublic.css">
  <link rel="stylesheet" href="../css/fz-Team.css">

</head>
<body>
<section class="fz-banner">
    <%-include("head.ejs")%>

  <h1>You Trip团队</h1>
  <p>You Trip旅行成立于2015年，是中国第一家将旅行者与世界各地旅行社直接联系起来的互联网平台</p>
  <div class="row awayTake">
    <div class="awayTakeBtn" onclick="recruitment()">
      <p>加入我们</p>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid fz-bg">
    <!--=============================右侧固定导航===============================-->
      <%-include("left_nav.ejs")%>
    <div class="row fz-tiltle">
      <div class="fz-text">
        <h2>团队精神</h2>
      </div>
    </div>
    <div class="row fz-myteam">
      <div class="col-lg-4 fz-left">
        <div class="col-lg-11 fz-left-img">
          <img src="../images/fz-imge/fz-30.png" class="fz-myimg">
          <h2 class="fz-tiltle1">爱旅行</h2>
          <p class="fz-left-img-text">
            旅行是我们的生活，在特美旅行<br>
            工作通常会游历十多个目的<br>
            地。最喜欢的目的地？答案
            是：下一个。
          <p>
        </div>
      </div>
      <div class="col-lg-4 fz-left">
        <div class="col-lg-11  fz-left-img">
          <img src="../images/fz-imge/fz-31.png" class="fz-myimg">
          <h2 class="fz-tiltle1">爱创新</h2>
          <p class="fz-left-img-text">
            不断创新是我们的职责，你可<br>
            以在这里找的关于创业、创新<br>
            和创意的定义。
          <p>
        </div>
      </div>
      <div class="col-lg-4 fz-left">
        <div class="col-lg-11 fz-left-img">
          <img src="../images/fz-imge/fz-32.png" class="fz-myimg">
          <h2 class="fz-tiltle1">国际化</h2>
          <p class="fz-left-img-text">
            国际化是我们的文化，与来自<br>
            不同国家、不同文化的人们交<br>
            流，是我们的工作之一。
          <p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row fz-pad-padding1">
      </div>
    </div>
    <div class="container-fluid">
      <div class="row fz-tiltle">
        <div class="fz-text">
          <h2>创始人</h2>
        </div>
      </div>
      <div class="row fz-Tleader">
        <div class="col-lg-10 col-lg-offset-1 fz-Tleader-min myboder">
          <div class="col-lg-6 fz-Tleader-min">
            <div class="col-lg-6 fz-Tleader-min">
              <img src="../images/fz-imge/fz-ceo.png">
            </div>
            <div class="col-lg-6 fz-Tleader-min">
              <h4>李冬生, CEO</h4>
              <p>多年以来，我们一直在寻找一种方<br>
                式，让越来越多的旅行者体会到旅行<br>
                的乐趣，拥有一个独一无二的假期<br>
                。随着特美旅行的诞生，这个想法正在<br>
                成为现实，而这，只是刚刚开始。
              </p>
            </div>
          </div>
          <div class="col-lg-6 fz-Tleader-min">
            <div class="col-lg-6 fz-Tleader-min">
              <img src="../images/fz-imge/fz-cto.png">
            </div>
            <div class="col-lg-6 fz-Tleader-min">
              <h4>阮劲松, CTO</h4>
              <p>每位旅行者都会以自己的视角来感受<br>
                这个世界，我们希望建立一个平台，<br>
                旅行者们可以相互分享自己独特的旅<br>
                行体验。特美旅行，正是这样一个平<br>
                台。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row fz-pad-padding1">
      </div>
    </div>
  </div>
</section>
<section class="fz-banner1">
  <div class="container-fluid fz-banner1-img">
    <div class="row fz-banner1-pad"></div>
    <div class="row fz-banner1-text">
      <h2>我们的使命</h2>
    </div>
    <div class="container-fluid">
      <div class="row fz-pad-padding1">
      </div>
    </div>
    <div class="container-fluid">
      <div class="row fz-pad-padding1">
      </div>
    </div>
    <div class="row fz-banner1-min">
      <div class="col-lg-8 col-lg-offset-2 fz-banner1-min-text">
        <h3>这些信念指引着我们</h3>
        <P>
          创造一切方便，帮助每位旅行者实现他们理想的旅行方式<br>
          不断颠覆和创新我们的领域，和我们的目的地旅行社一起成长<br>
          向旅行者展示大自然的神奇与世界的多彩，也为维护自然环境和世界多样性贡献一臂之力
        </P>
        <div class="col-lg-2 col-lg-offset-5 fz-button" onclick="recruitment()">加入我们</div>
      </div>
    </div>
  </div>
</section>
<section class="fz-bottom">

</section>

<%-include("foot.ejs")%>
<script>
    window.onscroll = function() {/*窗口滚动*/
        var navbar = document.getElementsByClassName("navbar-default")[0];
        var onlineIcon = document.getElementsByClassName("onlineIcon")[0];
        var lcfBackUp = document.getElementsByClassName("lcfBackUp")[0];
        var scrlength =parseInt(document.documentElement.scrollTop||document.body.scrollTop);/*获取窗口当前的滚动位置*/
        if (scrlength>450){
            var colorRgba ="rgba(97,88,57, 0.4)"
            navbar.style.backgroundColor=colorRgba;
        }else if (scrlength<450){
            navbar.style.backgroundColor="inherit";
        }
    };
  function recruitment() {
      var uname = document.getElementsByClassName("username")[0].innerText;
      if(uname!=""&&uname!="登录"){
          window.location.href='/fz-recruitment';
      }else{
          sessionStorage.myhref=location.href;
          window.location.href='/login';
      }
  }
    sessionStorage.myhref=location.href;
</script>
<script src="js/jquery-1.11.3.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>