<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">


  <!--如果检测到浏览器是ie就强制使用ie的兼容模式(edge版本)-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--屏幕如果缩放按照1比1缩放-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--以上三个必放-->
  <link rel="stylesheet" href="../css/xr_zhucei.css">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../font/font-awesome.min.css">
  <link rel="stylesheet" href="../font/font-awesome.css">
  <link rel="stylesheet" href="../css/swiper.min.css">
  <link rel="stylesheet" href="../css/homePublic.css">
  <title>注册</title>
</head>
<body>
<section class="xr_sectionone">
  <div class="container-fluid">
    <div class="xr_denlutu ">
      <div class="row text-center">
        <div class="col-xs-offset-4 col-xs-offset-4">
          <img src="../images/logo.png" width="100%">
        </div>
      </div>
    </div>
    <div class="xt_inputmargintop"></div>
    <div class="xr_inputweizhi">
      <div class="row ">
        <div class="col-xs-offset-4 col-xs-4">
          <span class="xr_inputuser"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
          <input type="text" class="xr_input" name="xr_username" placeholder="请输入11位手机号或邮箱">
          <span class="xr_spannn"></span>
          <div class="xr_inputborder"></div>
        </div>
      </div>
      <div class="xt_inputmargintop">
        <div class="row ">
          <div class="col-xs-offset-4 col-xs-4">
            <span class="xr_inputuser"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
            <input type="password" name="xr_password" class="xr_input" placeholder="请输入6位或6位以上密码">
            <span class="xr_spannn"></span>
            <div class="xr_inputborder"></div>
          </div>
        </div>
      </div>
      <div class="xt_inputmargintop">
        <div class="row ">
          <div class="col-xs-offset-4 col-xs-4">
            <span class="xr_inputuser"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input type="password" class="xr_input" placeholder="请输入确认密码">
            <span class="xr_spannn"></span>
            <div class="xr_inputborder"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="xt_inputmargintop xr_iputright">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4 text-center">
          <div class="xr_inputweizhi xr_denluziti xr_denluzitidenlu" onclick="xr_zhuce()" >
            <span>注</span>
            <span>册</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/ajax.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/register.js"></script>
</body>
</html>