*{
    padding:0;
    margin:0;
    font-family:"微软雅黑";
}
body{
    background:white;
}
.bgFix{
    position: fixed;
    z-index: -1;
}
.paddingZero{
    padding:0;
}
/*-----------------------------banner图--------------------*/
.bannerWord{
    text-align:center;
}
.CustomerCaseTitle{
    margin-top:5%;
}
.bannerBg{
    height:500px;
    background-image:url("../images/wy/customBg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.customCaseBannerBtn{
    margin-top:10%;
    margin-left:-10%;
}
/*-------------------------------标题---------------------*/
.titleWord{
    text-align:center;
    font-size:2.1em;
}
.rational_customTitleTop{
    width:100%;
    height:150px;
}
.rational_customTitleIn{
    width:300px;
    margin:0 auto;
    text-align:center;
}
.rational_customTitleWordBig{
    display: inline-block;
    margin-top:10%;
    font-size:2em;
}
.rational_customTitleWordSmall{
    display: inline-block;
    margin:3px 0 10px 0;
    font-size:1em;
    color: #6a6a6a;
}
.rational_customTitleLine{
    margin:0 auto;
    border:1px solid #b1a86c;
    width:60px;
}
.customCaseListBg{
    margin-top:-40px;
    background: #f6f6f6;
}
/*-------------------------------轮播----------------------*/
.data{
    background:rgba(0,0,0,.5);
}
.data>p{
    color:white;
}
.slideBg{
    border-radius:0;
    border:0;
}
#content{
    padding:0;
}
.slideshow_item{
    position: relative;
}

/*----------------------------列表页-----------------------*/
.customCaseListOut{
    margin-bottom:4%;
    margin-top:4%;
    width:100%;
}
.customCaseListIn{
    margin-left:6%;
    margin-right:6%;
}
.customerCaseListImg{
    padding:0;
    width:560px;
    margin-left:2%;
    display: inline-block;
    margin-top:15px;
    box-shadow:1px 1px 10px rgba(0,0,0,.5);
}
.customerCaseWord{
    width:100%;
    margin-bottom:10px;
}
.customCaseNone{
    font-size:0;
}
/*-------------------------列表文字解说-----------------------*/
.customerCaseListTitle{
    margin-left:20px;
    margin-top:20px;
}
.customerCaseListTitleTop{
    font-size:1.8em;
}
.titleBottom{
    display:inline-block;
    margin-top:15px;
    color: rgb(123, 123, 123);
}
.listFlag{
    display:inline-block;
    margin-right:15px;
    width:50px;
}
.caseListDetail{
    display:inline-block;
    margin-top:10px;
    height: 20px;
    overflow: hidden;
    line-height:19px;
}

.customP{
    /*padding: 0 0 0 5% ;*/
}
.caseListBtn{
    display:inline-block;
    width:100px;
}
/*----------------推荐商品---------------------------*/
.popularContent{
    padding:10px;
}
.hotImg,
.hotImg>img{
    width:100%;
}
.hotImgWord{
    padding:5px 0;
    text-align: center;
    font-size:1.6em;
}
.hotImgWordSmall{
    text-align: left;
}
.hotImgWord>p{
    line-height:20px;
}
.hotImgWordMoney{
    font-size:1em;
    color:red;
}
.hotImgWordDay,
.hotImgWordDetail {
    color: #797979;
    font-size:0.6em;
}
.hotImgWordDetail:hover{
    cursor:pointer;
    color: #ffaa2a;
}
.hotImgTitle{
    line-height:50px;
}
/*---------------------------客户案例图片介绍----------------------*/
/*.container-fluid{*/
    /*padding:0;*/
/*}*/
/*.row{*/
    /*padding:0;*/
/*}*/
/*.customCasePic{*/
    /*float:left;*/
    /*width:560px;*/
    /*margin-left:1%;*/
    /*margin-bottom:1%;*/
    /*overflow:hidden;*/
    /*position:relative;*/
    /*height:400px;*/
/*}*/
/*.customCaseWord{*/
    /*position:relative;*/
    /*height:400px;*/
/*}*/
/*.customCasePic>img{*/
    /*width:100%;*/
    /*height:120%*/
/*}*/
/*.customCaseWordPic{*/
    /*position:absolute;*/
    /*right:0;*/
    /*bottom:0;*/
    /*height:260px;*/
    /*width:120%;*/
    /*background:rgba(255,255,255,.7);*/
    /*padding:0;*/
/*}*/
/*------------------图片特效------------------*/
/*.customCaseOut{*/
    /*position:relative;*/
    /*margin-left:7.5%;*/
    /*margin-right:7.5%;*/
/*}*/
/*图片按钮位置调节*/

