

input::-moz-placeholder { color: #fff; }
input:-ms-input-placeholder { color: #fff; }
input::-webkit-input-placeholder { color: #fff; }

input:focus{color:white}

body{
    background: url("../images/newimg.jpg") no-repeat;
    background-size: cover;
}
.xt_inputmargintop{
    margin-top:4%;
}
.xt_inputmargintop1{
    margin-left:4%;
  opacity: 0;
}
.xr_yanzhengmacolor{
    color:white;
}
.xr_yanzhengmacolor1{
    color:red;
}
.xr_miaocolor{
    color:red;
    font-weight: bold;
}
.xr_spancolor{
    color:red;
    font-weight: bold;
}

.xr_denlutu{
    margin-top: 5%;
    margin-left: 40%;
    width:15%
}
.xr_input{

    color:white;
    outline: none;
    width:56%;
    border: none;
    background-color: transparent;
}
.xr_inputone{
    color:white;
    outline: none;
width:30%;
border: none;
background-color: transparent;
}
.xr_inputuser{

    margin-right: 2%;
    color:white;
    font-size: 1.8em;
}
.xr_inputweizhi1{

}

.xr_inputborder{
    border-top: solid 1px white;
    width:90%;
}
.xr_inputweizhi{
    cursor: pointer;
    margin-left: 3%;
}
.xr_denluziti{

    color:white;
    font-size: 1.1em;
}
.xr_iputright{
    margin-left:6.8%;
}
.xr_denluzitidenlu{
    background-color: #a79865;
    width:70%;
    padding: 3% 0;

}
.xr_sendyanzhengma{
    cursor: pointer;
    margin-left: 33%;
    color:white;
}
.xr_sendyanzhengma:hover{
    color:#A79865
}